.card-text {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    cursor: pointer;
    word-break: break-all;

    &:hover {
        border: 1px solid #C9D1D9;
    }

    &_left {
        justify-content: flex-start;
    }

    &_center {
        justify-content: center;
    }

    &_right {
        justify-content: flex-end;
    }
}