@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

//colors 
$font-primary: #C9D1D9;


//font-family

$font-Oswald: "Oswald", sans-serif;

//primary-variables


//primary-variables
$font-weight: 400;
$font-style: normal;
$paragraf-l-font-style: normal;
$h-color: $font-primary;
$paragraf-l-color: $font-primary;
// $paragraf-s-color: $color-dark-m;

//fonts-size
$h2-font-size: 2.8rem;
$h3-font-size: 2.2rem;
$h4-font-size: 1.25rem;
$h5-font-size: 0.9rem;
$button-font-size: 1.1rem;
$paragraf-l-font-size: 1.2rem;
$paragraf-s-font-size: 0.75rem;